<?xml version="1.0" encoding="utf-8"?>

<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="90.0dp"
        android:id="@+id/LayoutPrincipalMenu"
        android:background="@color/material_grey_100">
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/LayoutCabecalho">
            <ImageView
                android:src="@android:drawable/ic_menu_gallery"
                android:layout_width="76.5dp"
                android:layout_height="match_parent"
                android:id="@+id/ImgUsuario" />
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:gravity="right"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/LayoutInfoUsuario">

                <TextView
                    android:text="Usuario:"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="wrap_content"
                    android:layout_height="33.0dp"
                    android:id="@+id/TxtUsuarioMenu"
                    android:gravity="right|center_vertical"
                    android:layout_marginTop="25px"
                    android:layout_marginRight="5dp"
                     />
                <TextView
                    android:text="Cargo:"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="wrap_content"
                    android:layout_height="33.0dp"
                    android:id="@+id/TxtCargoMenu"
                    android:layout_marginRight="5dp"
                    android:layout_marginTop="5px"
                    android:gravity="right|center_vertical" />
            </LinearLayout>

        </LinearLayout>
    </LinearLayout>

    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/scrollView1">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical">
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="150.0dp"
                android:id="@+id/LayoutCorpo1"
                android:gravity="center_horizontal"
                android:layout_marginTop="80px">
                <ImageButton
                    android:src="@android:drawable/ic_menu_gallery"
                    android:layout_width="150.0dp"
                    android:layout_height="150.0dp"
                    android:id="@+id/ImgMoviment"
                    android:scaleType="fitXY" />
                <ImageButton
                    android:src="@android:drawable/ic_menu_gallery"
                    android:layout_width="150.0dp"
                    android:layout_height="150.0dp"
                    android:id="@+id/ImgGastos"
                    android:scaleType="fitXY" />

            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="150.0dp"
                android:id="@+id/LayoutCorpo2"
                android:gravity="center_horizontal">
                <ImageButton
                    android:src="@android:drawable/ic_menu_gallery"
                    android:layout_width="150.0dp"
                    android:layout_height="150.0dp"
                    android:id="@+id/ImgReservas"
                    android:scaleType="fitXY" />
                <ImageButton
                    android:src="@android:drawable/ic_menu_gallery"
                    android:layout_width="150.0dp"
                    android:layout_height="150.0dp"
                    android:id="@+id/ImgCheckIn"
                    android:scaleType="fitXY" />
            </LinearLayout>
        </LinearLayout>
    </ScrollView>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/LayoutAuxRodape"
        android:background="@android:color/transparent"
        android:gravity="bottom">
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="40.0dp"
            android:id="@+id/LayoutRodape"
            android:background="@color/material_grey_100"
            android:gravity="center_vertical">
            <ImageView
                android:src="@android:drawable/ic_menu_gallery"
                android:layout_width="39.5dp"
                android:layout_height="match_parent"
                android:id="@+id/ImgMov" />
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1"
                android:gravity="center_vertical">
                <TextView
                    android:text="Entradas:"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/TxtEntrada"
                    android:gravity="left|center_vertical"
                    android:textColor="@android:color/holo_green_light" 
                     />
                <TextView
                    android:text="Saidas:"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/TxtSaida"
                    android:gravity="left|center_vertical"
                    android:textColor="@android:color/holo_red_light" 
                     />
            </LinearLayout>
            <TextView
                android:text="Total:"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_gravity="center_vertical"
                android:id="@+id/TxtTotal"
                android:gravity="right|center_vertical"
                android:layout_marginRight="15dp"
                android:textColor="@android:color/holo_red_light" 
                     />
        </LinearLayout>
    </LinearLayout>

</LinearLayout>


